<!DOCTYPE html>
<html  ng-app="next">
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
     <!-- STYLES -->
     <!-- build:css lib/css/main.min.css -->
     <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="components/angular-material/angular-material.css">
    <link rel="stylesheet" type="text/css" href="components/angular-material-icons/angular-material-icons.css">
    <link rel="stylesheet" type="text/css" href="components/rdash-ui/dist/css/rdash.css">
     <link rel="stylesheet" type="text/css" href="css/addedcss.css">
    <!-- endbuild -->

    <!-- SCRIPTS -->
    <!-- build:js lib/js/main.min.js -->
    <script type="text/javascript" src="components/angular/angular.js"></script>
    <script type="text/javascript" src="components/angular-cookies/angular-cookies.min.js"></script>
    <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="components/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="components/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="components/angular-material-icons/angular-material-icons.js"></script>
     <!-- endbuild -->

    <!-- Custom Scripts -->
    <script type="text/javascript" src="js/script.min.js"></script>
</head>
<body >
  <div ng-controller="mainctrl" layout="column" layout-fill="" class="toolbardemoScrollShrink">
  
  <!-- The outer wrapper - need to set height to px or vh
  <div style="height:90vh; border:1px solid black; overflow:hidden"> -->
  <!-- Alternatively, the outer wrapper can be positioned absolutely, with an 'auto' height:-->
  <div style="position: absolute; top: 0px; bottom:0px; height:auto; width: 100%; overflow:hidden">
  

  <md-toolbar  md-scroll-fade
              layout 
              md-keep-condensed="64"
              md-title-scale-factor="1.5"
              md-shrink-speed-factor=".2"
              md-expanded-speed-factor=".2">

 <div md-expanded-container>
      <div md-expanded  md-expanded-keep="60" >
          <div style="background-image:url(img/bg2.png)" class="image"></div>
      </div>

        <!--<img src="https://upload.wikimedia.org/wikipedia/commons/d/de/0327New_York_City_Statue_of_Liberty.JPG">-->
    </div>
          
    <div class="md-toolbar-tools">
     <md-button class="md-icon-button" aria-label="menu">
            <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
        <h3 md-toolbar-title>Hi there :)</h3>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite" ng-if="toolbarCondensed">
             <ng-md-icon icon="favorite"></ng-md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="settings">
             <ng-md-icon icon="settings"></ng-md-icon>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
             <ng-md-icon icon="more_vert"></ng-md-icon>
        </md-button>
    </div>
   <md-button md-toolbar-fab aria-label="Float Action Button" class="md-fab md-accent">
       <ng-md-icon icon="favorite"></ng-md-icon>
    </md-button>
  </md-toolbar>

 <!-- Sidebar  to do sliding part-->
    <div id="sidebar-wrapper">
      <ul class="sidebar">
        <li class="sidebar-main">
          <!-- <a ng-click="toggleSidebar()"> -->
           <a href="#/account-summary">
            Dashboard
            <span class="menu-icon glyphicon glyphicon-list-alt"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>Side text</span></li>
       <!-- to do menu items
        <li class="sidebar-list">
         
         <a href="#">Content </a>
       
       </li>
       <li class="sidebar-list">
          
         <a href="#/tables">Tables <span class="menu-icon fa fa-table"></span></a>
         
       </li> -->
        <!--  <li class="sidebar-list">
         <ng-md-icon icon=""></ng-md-icon>
         <a href="#/portlet">Portlet <span class="menu-icon fa fa-table"></span></a>
                </li> -->
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-4">
          <a href="https://github.com/rdash/rdash-angular" target="_blank">
            Github
          </a>
        </div>
        <div class="col-xs-4">
          <a href="https://github.com/rdash/rdash-angular/README.md" target="_blank">
            About
          </a>
        </div>
        <div class="col-xs-4">
          <a href="#">
            Support
          </a>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->

  <!-- Content height does not need to be px any more: -->
  <md-content style="height:100%">

   <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

   
    <div id="content-wrapper">
      <div class="page-content">

        <!-- Main Content -->
        <div ui-view></div>

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->

  </md-content>
  </div>
</div>
</body>
</html>